/* Style for header title */
header .row,
.header {
    padding-top: 50px;
	padding-bottom: 10px;
    text-align: center;
    color: white;
}	

header nav{
	display: center;
	float: left;
}	

/* Increase the font size of the heading */
.header h1 {
    font-size: 100px;
	margin-bottom: 10px;
	margin-top: 25px;
 	
}

/*Style for body*/
 img {
    width: 4%;
    height: auto;
}
 body {
    font-family: "HKGrotesk", Helvetica, sans-serif;
    margin: 0;
	background: linear-gradient(to top, #42137b, #302c9e) fixed;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -100px;
  height: 75px; 
  visibility: hidden; 
}

/* parallax body style*/
body1{
    margin: 0;
    padding: 0;
}



/* parallax style*/
#box1{
	
    height: 100vh;
    width: 100%;
	padding-top: 200px;
	padding-bottom: 200px;
    background-image: url("background1.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
/* parallax style*/
#box2{
    height: 100vh;
    width: 100%;
	padding-top: 200px;
	padding-bottom: 200px;
    background-image: url("background2.png");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
/* parallax style*/
#box3{
    height: 100vh;
    width: 100%;
	padding-top: 200px;
	padding-bottom: 200px;
    background-image: url("background3.png");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}



/*Text Box*/
.text-block{ 
   color: white; 
   font: 24px/45px Helvetica, Sans-Serif;
   background: linear-gradient(to top, #42137b, #302c9e) fixed;
   text-align: left;
   background: rgba(0, 0, 0, 0.7);
   padding-left: 50px;
   padding-right: 0px;
   padding-top: 30px;
   margin-left: 350px;
   margin-right: 350px;
   margin-top: 50px;
   margin-bottom: 50px;
   border-radius: 25px;
}

.text-block li {
	padding: 0px 40px 40px 0px;	
}

.text-block img {
	float: right;
	height: 75px !important;
	width: 75px !important;
}

.col-sm-11{
	padding-left:45px;
	padding-right: 45px;
}

.myBtn_multi{
	color: blue;
	background: transparent; /*hide button background*/
	text-align: center; /*keep the button text in line with the text*/
	border-color: transparent; /* hide the background of the button*/
}

/* The Modal (background) */


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
	padding-left: 300px; /* Keep modal width tight*/
	padding-right: 300px; /* Keep modal width tight*/
    height: 100% auto; /* Full height */
	overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background: linear-gradient(to top, #42137b, #302c9e) fixed;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 3px #888;
	border-radius: 25px;
    width: 80%; /* Could be more or less, depending on screen size */
	overflow-y: auto; /*enable scroll*/ 
	max-height: calc(100vh - 210px);
	
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

#blog{
	color: white;
	text-align: center;
	margin-top: 20px;
}