body{
    font-family: Helvetica, sans-serif;
     margin: 0;
     background:linear-gradient(to top, #42137b, #302c9e) fixed;
     color: white;
     font-weight: 400;
     line-height: 1.8em;
     
}

/* parallax body style*/
body1{
    margin: 0;
    padding: 0;
	
/* parallax style*/
#box1{
    height: 100vh;
    width: 100%;
    background-image: url("background1.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
/* parallax style*/
#box2{
    height: 100vh;
    width: 100%;
    background-image: url("background2.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
/* parallax style*/
#box3{
    height: 100vh;
    width: 100%;
    background-image: url("background3.png");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

}

/*logo size adjust*/

img {
    width: 20%;
    height: auto;
}

/*logo top left*/
logo{
 position:absolute;
 top:0;
 left:0;
}

/* alignment for paragraphs in the body*/
  p {
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 130px;
    margin-left: 130px;
    text-align: center;
}

/* Style for header title */
.header {
    padding: 80px;
    text-align: center;
    background: 
    color: white;
}

/* Increase the font size of the heading */
h1 {
    font-size: 30px;
    margin: 0;
    color: white;
    font-family: FirstFont;
    text-align: center;
    padding: 70px;
    border: 0px solid;
    
}

/*HK*/
  @font-face {
    font-family: FirstFont;
   src: url(fonts/hk-grotesk/HKGrotesk-Light.otf);
}


/* Style for Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}